<!DOCTYPE html>
<html>
  <head>
    <title><%= @html_title ? @html_title : 'WebApp - MaridiLab' %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-89632404-1', 'auto');
        ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div class="ui menu">
      <%= link_to 'WebApp - MaridiLab', root_path, class: 'header item' %>
      <%= link_to t('help'), help_path, class: 'item' %>
      <%= link_to "Сервер: #{`hostname`}", '', class: 'item' %>
      <div class="right menu">

        <% if I18n.locale == :en %>
          <%= link_to root_path(locale: 'ru'), class: 'item' do %>
            <i class="ru flag"></i>
          <% end %>
        <% else %>
          <%= link_to root_path(locale: 'en'), class: 'item' do %>
            <i class="gb flag"></i>
          <% end %>
        <% end %>
      </div>

    </div>

    <%= yield %>

  </body>
</html>
